<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="m-meme">
      <div id="top">
      <img class="logo" src="<%= image_path 'rk_logo.png' %>"/>
      <h1>Generator okładek</h1>
      </div>
      <%= partial "partials/editor" %>
      <%= partial "partials/canvas" %>

      <div class="credits">
        <p>A remix of Voxmedia <a href="https://github.com/voxmedia/meme" target="_blank">meme generator</a>
          by <a href="https://twitter.com/movonw" target="_blank">@movonw</a> with 🧡</p>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>
  </body>
</html>
